target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
.project
.classpath
.settings
.idea
*.iml
*.log
pom.xml.versionsBackup
smarkdown-location-http/pom.xml.versionsBackup
smarkdown-plantuml/pom.xml.versionsBackup
smarkdown-war-jetty/pom.xml.versionsBackup
smarkdown-war-tomcat/pom.xml.versionsBackup
