img[alt=width100] { width: 100px; }
img[alt=width200] { width: 200px; }
img[alt=width300] { width: 300px; }
img[alt=width400] { width: 400px; }
img[alt=width500] { width: 500px; }
img[alt=width600] { width: 600px; }
img[alt=width700] { width: 700px; }
img[alt=width800] { width: 800px; }
img[alt=width900] { width: 900px; }
img[alt=width1000] { width: 100px; }
img[alt=width1100] { width: 1100px; }
img[alt=width1200] { width: 1200px; }
img[alt=width1300] { width: 1300px; }
img[alt=width1400] { width: 1400px; }
img[alt=width1500] { width: 1500px; }
img[alt=width1600] { width: 1600px; }
img[alt=width1700] { width: 1700px; }
img[alt=width1800] { width: 1800px; }
img[alt=width1900] { width: 1900px; }
img[alt=width2000] { width: 2000px; }
img[alt=width2100] { width: 2100px; }
img[alt=width2200] { width: 2200px; }
img[alt=width2300] { width: 2300px; }
img[alt=width2400] { width: 2400px; }
img[alt=width2500] { width: 2500px; }
img[alt=width2600] { width: 2600px; }
img[alt=width2700] { width: 2700px; }
img[alt=width2800] { width: 2800px; }
img[alt=width2900] { width: 2900px; }

img[alt=height100] { height: 100px; }
img[alt=height200] { height: 200px; }
img[alt=height300] { height: 300px; }
img[alt=height400] { height: 400px; }
img[alt=height500] { height: 500px; }
img[alt=height600] { height: 600px; }
img[alt=height700] { height: 700px; }
img[alt=height800] { height: 800px; }
img[alt=height900] { height: 900px; }
img[alt=height1000] { height: 100px; }
img[alt=height1100] { height: 1100px; }
img[alt=height1200] { height: 1200px; }
img[alt=height1300] { height: 1300px; }
img[alt=height1400] { height: 1400px; }
img[alt=height1500] { height: 1500px; }
img[alt=height1600] { height: 1600px; }
img[alt=height1700] { height: 1700px; }
img[alt=height1800] { height: 1800px; }
img[alt=height1900] { height: 1900px; }
img[alt=height2000] { height: 2000px; }
img[alt=height2100] { height: 2100px; }
img[alt=height2200] { height: 2200px; }
img[alt=height2300] { height: 2300px; }
img[alt=height2400] { height: 2400px; }
img[alt=height2500] { height: 2500px; }
img[alt=height2600] { height: 2600px; }
img[alt=height2700] { height: 2700px; }
img[alt=height2800] { height: 2800px; }
img[alt=height2900] { height: 2900px; }